@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

body {
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-card {
  display: flex;
  justify-content: space-between;
  max-width: 40%;
  border: 1px solid black;
  border-radius: 1rem;
}

.full-score {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-radius: 1rem;
}

.full-score__circle {
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.score-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

.score-tag {
  width: 100%;
}

.score-tag p {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
